*.o
*.a
*.d
*.i
*~
.swp
.*.swp
core
.gdbinit
cscope.out
autom4te.cache/
config.log
config.status
Makefile
libtool
am--include-marker
kconfig-frontends/frontends/kconfig
kconfig-frontends/frontends/conf/kconfig-conf
kconfig-frontends/frontends/nconf/kconfig-nconf
kconfig-frontends/frontends/nconf/nconf
kconfig-frontends/frontends/mconf/kconfig-mconf
kconfig-frontends/frontends/mconf/mconf
kconfig-frontends/libs/Makefile
kconfig-frontends/libs/parser/.libs/
kconfig-frontends/libs/parser/hconf.c
kconfig-frontends/libs/parser/kconfig-parser.pc
kconfig-frontends/libs/parser/libkconfig-parser.la
kconfig-frontends/libs/parser/libkconfig_parser_la-yconf.lo
kconfig-frontends/scripts/.autostuff/config.h
kconfig-frontends/scripts/.autostuff/stamp-h1
kconfig-frontends/scripts/Makefile
kconfig-frontends/utils/Makefile
kconfig-frontends/utils/kconfig-gettext
kconfig-frontends/utils/kconfig-tweak
*.dirstamp
*.libs/
*.deps/
